@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Trang quản trị";
}

<h2 class="text-dark">Chào mừng đến Dashboard Admin</h2>
<p>Đây là nội dung bạn có thể thay đổi theo nhu cầu.</p>
